<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.VisaAPI.mapper.PassMapper;">
	<select id="selectuser" parameterType="com.example.VisaAPI.model.PassModel" >
        select * FROM visa_user_api_role  WHERE username = #{username};
    </select>
    <update id="updateuser" parameterType="com.example.VisaAPI.model.PassModel" useGeneratedKeys="true" keyProperty="id">
        UPDATE visa_user_api_role SET password =#{newpassword} WHERE username = #{username} and password =#{password};
    </update>
    
</mapper>